<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css"/>
</head>
<body>
<header class="jumbotron">
    <h1 class="display-3"> Skills dashboard </h1>
    <p class="lead">What I have to learn?</p>
    <hr class="my-5">
</header>
<div class="container">
    <h2 class="display-4"> Add skill: </h2>
<form id="addForm" method="post" action="/skills/">
    <input type="hidden" id="id" name="id"/>
    <input type="text" id="name" name="name"/><br/>
    <input type="text" id="description" name="description"/><br/>
    <input id="add_btn" type="submit" value="Add"/>
    <input id="edit_btn" class="edit" type="submit" value="Edit"/>
</form>
    <h2 class="display-4"> I have to learn ... </h2>
<ul id="skills-list">
</ul>
</div>
</body>
</html>